.loader_container {
  display: flex;
  justify-content: center;
  animation: loader-disapear 200ms 550ms forwards;
}

.loader {
  position: absolute;
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 20px solid black;
  border-color: black transparent transparent transparent;
  &__1 {
    animation: loader 1200ms cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }
  &__2 {
    animation: loader 1200ms 150ms cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }
  &__3 {
    animation: loader 1200ms 300ms cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }
}
