body {
  margin: 0;
  font-family: "Lato", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box !important; /* Opera/IE 8+ */
  -moz-box-sizing: border-box !important; /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box !important; /* Safari/Chrome, autres WebKit */
}

main {
  margin-top: 100px;
}

p {
  margin: 10px;
}

button {
  @include button;
}

.button {
  @include button;

  &--red {
    background-color: $color-primary;
    border-color: $color-primary;
  }
}

a {
  text-decoration: none;
  text-align: center;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

ul {
  padding: 0;
}

.hidden {
  display: none;
}
