.deleteConfirm_container {
  @include flex-column-center;
  justify-content: space-around;
  margin: auto;
  position: absolute;
  background-color: $color-secondary;
  border-radius: 20px;
  border: solid 5px darken($color: $color-secondary, $amount: 10);
  @include box-shadow;
  padding: 10px;
  width: 70%;
  z-index: 1;

  &--relative {
    position: relative;
  }

  & p {
    font-size: 24px;
    text-align: center;
    font-weight: 900;
  }

  &__button {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 10px;
  }

  & button {
    width: 80px;
  }
}
