.account {
  background-color: $color-lighten-tertiary;
  @include border-radius;
  @include flex-column-center;
  box-sizing: border-box;
  width: 90%;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  gap: 10px;
  @include box-shadow;
  border: solid 5px lighten($color-tertiary, $amount: 45);

  @include desktop-only {
    width: 40%;
  }

  &__back {
    font-size: 40px;
    color: $color-tertiary !important;
    align-self: flex-start;
  }

  &__user {
    @include flex-column-center;
    margin: 10px;

    & i {
      font-size: 70px;
    }

    & h1 {
      text-align: center;
      margin: 10px;
    }
  }

  &__settings {
    @include flex-column-center;

    & button {
      width: auto;
      margin-bottom: 10px;
    }
  }
}

.img_container--profile {
  & img {
    max-height: 300px;
  }
}
